@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./reset.css";
@import url("./media.css");

body {
  background-color: #0E1010;
  font-family: 'Noto Serif', serif;
}

.header {
  padding: 9px 6.5% 20px 3.5%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  color: white;
}

.header * {
  transition: all .55s ease;
}

.header *:hover {
  transform: translateX(5px);
}

.header_logo_name {
  font-size: 45px;
  font-weight: 400;
  font-style: italic;
}

.header_nav {
  font-size: 18px;
  margin-top: 23px;
}

.header_nav_span1 {
  margin-right: 58px;
}

.header_nav_span2 {
  margin-right: 60px;
}

.header_nav_getintouch {
  padding: 7px 25px 10px 30px;
  background-color: #2F3634;
  border-radius: 41px;
  font-size: 17px;
}

.hero {
  margin: 164px 11.5% 0 11.5%;
  background-color: #FFFFFF;
  border-radius: 41px;
}

.hero_section {
  padding: 90px 8.5% 90px 8.5%;
}

.hero_section_hello {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
}

.hero_info {
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
}

.hero_section_imgbutton {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.hero_section_imgbutton_imgs img {
  margin-right: 19px;
  transition: all .55s ease;
}

.hero_section_imgbutton_imgs *:hover {
  transform: translateX(8px);
}

.hero_section_imgbutton_buttons {
  display: flex;
}

.hero_section_imgbutton_buttons * {
  transition: all .55s ease;
}

.hero_section_imgbutton_buttons *:hover {
  transform: translateX(8px);
}

.hero_view_button {
  border: solid 1px black;
  border-radius: 74px;
  font-size: 14px;
  font-weight: 700;
  width: 170px;
  height: 29px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.hero_getintouch_button {
  background-color: #2F3634;
  border-radius: 74px;
  width: 190px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutme {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin: 355px auto 0 auto;
}

.aboutme_h1 {
  font-size: 36px;
  font-style: italic;
}

.aboutme_info {
  width: 540px;
  font-size: 18px;
}

#interests {
  display: flex;
  flex-flow: column;
  width: 88%;
  margin: 350px auto 0 auto;
}

.headline {
  margin-bottom: 25px;
}

.headline_text {
  padding-bottom: 35px;
}

.headline_text_projects {
  padding-bottom: 0px;
  color: white;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}

.interests_blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  gap: 15px;
}

.interests_block_interest {
  background-color: #272D2B;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 0 5px;
  transition: all .55s ease;
}

.interests_block_interest:hover {
  transform: scale(1.05);
}

#projects {
  display: flex;
  flex-flow: column;
  max-width: 1110px;
  margin: 310px auto 0 auto;
  padding: 0;
}

.projects_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  color: white;
  gap: 25px;
  margin-top: 50px;
}

.text_right {
  order: -1;
}

.text_left {
  order: 1;
}

.projects_block_text_h2 {
  font-size: 16px;
  font-weight: 400;
  color: #859591;
}

.text_two {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects_block_text_h1 {
  font-size: 32px;
  font-weight: 400;
}

.projects_block_text_p {
  font-size: 16px;
  padding-bottom: 25px;
}

.projects_block_img_left,
.projects_block_img_right {
  max-width: 100%;
  height: 272px;
}

.text_two_button {
  padding: 10px 48px;
  background-color: #2F3634;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 74px;
}

.gap_img_text_two_imgs {
  margin-left: 10px;
  margin-right: 10px;
}

#getintouch {
  display: flex;
  flex-flow: column;
  width: 88%;
  margin: 230px auto 230px auto;
}

.headline {
  font-size: 32px;
  color: white;
  font-style: italic;
  text-align: center;
}

.headline_text {
  font-size: 18px;
  color: white;
  font-style: italic;
  text-align: center;
}

.main_bottom_imgs {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

.main_bottom_imgs * {
  transition: all .55s ease;
}

.main_bottom_imgs *:hover {
  transform: translate(3px);
}

.footer_nav {
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}

.footer_nav * {
  transition: all .55s ease;
}

.footer_nav *:hover {
  transform: translateX(3px);
}

.footer_bottom_span {
  color: white;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}