@mixin button__getintouch {
  font-size: $f18;
  color:$white;
  background-color:$grey;
  padding: 8px 28px;
  border-radius: 41px;
  text-transform: lowercase;
}

@mixin button__viewprojects {
  padding: 3px 35px;
  background-color: $white;
  border: solid 1px $black;
  border-radius: 74px;
  color: $black;
}

@mixin button__hero__getintouch {
    padding: 5px 50px;
    background-color: $grey;
    border-radius: 74px;
    margin-left: 20px;
}


@mixin button__viewcode {
  color: $white;
  font-size: $f14;
  text-transform: uppercase;
  padding: 10px 48px;
  background-color: $grey;
  border-radius: 41px;
}