@import "./components.scss";

.header {
  height: 90px;
  width: 90%;
  margin: $auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $white;
  font-size: $f45;
  font-style: $italic;
}

.nav {
  font-size: $f18;
  text-transform: uppercase;
}

.nav * {
  margin-left: 60px;
}

.main {
  max-width: $mx1110;
  margin: $auto;
}

.hero {
  background-color: $white;
  height: 370px;
  width: 100%;
  border-radius: 40px;
}

.main__hero {
  margin-top: 165px;
}

.article {
  padding: 100px;
}

.article__hello {
  font-size: $f36;
  font-style: $italic;
}

.article__p {
  font-size: $f20;
}

.iconsbuttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.buttons__viewprojects {
  @include viewprojects;
}

.buttons__getintouch {
  @include getintouch;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  max-width: 724px;
  margin: $auto;
  color: $white;
}

.main__aboutme {
  margin-top: 330px;
}

.aboutme__title {
  font-size: $f32;
  font-style: $italic;
}

.aboutme__text {
  max-width: 540px;
  font-size: $f20;
}

.main_interests {
  margin-top: 340px;
}

.interests {

}

.blocks {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 166px;
  gap: 15px;
}

.blocks__item {
  background-color: $grey;
  border-radius: 25px;
  font-size: $f20;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}