.header {
  height: 90px;
  width: 90%;
  margin: $auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $white;
  font-size: $f45;
  font-style: $italic;
}

.nav {
  font-size: $f18;
  text-transform: uppercase;
}

.nav * {
  margin-left: 60px;
}

.main {
  max-width: 1110px;
  margin: $auto;
}

.hero {
  background-color: $white;
  height: 370px;
  width: 100%;
}

.main_hero {
  margin-top: 165px;
  border-radius: 40px;
}

.article {
  padding: 100px;
}

.article_hello {
  font-size: $f36;
  font-style: $italic;
}

.article_p {
  font-size: $f20;
}