$white:#ffffff;
$black:#0E1010;
$grey: #272D2B;

$f45:45px;
$f36:36px;
$f32:32px;
$f28:28px;
$f20:20px;
$f18:18px;
$f16:16px;
$f14:14px;
$f12:12px;

$italic:italic;

$auto: 0 auto;

$fw700:700;
$fw400:400;

$mx1110:1110px;

$p3d5:0 3.5%;

$large-desktop:1440px;
$desktop:1440px;
$large-tablet: 1130px;
$tablet:744px;
$mobile:375px;