.aboutme {
  display: flex;
  justify-content: space-between;
  max-width: 724px;
  margin: $auto;
  color: $white;
}

.main__aboutme {
  margin-top: 32%;
}

.aboutme__title {
  font-size: $f32;
  font-style: $italic;
}

.aboutme__text {
  max-width: 540px;
  font-size: $f20;
}


