.footer__nav {
  font-size: $f18;
  max-width: 405px;
  display: flex;
  margin: 2.5% auto;
  justify-content: space-between;
}

.footer__text {
  text-align: center;
  margin: 0 auto 0 auto;
  color:$white;
}
