.main_interests {
  margin-top: 250px;
}

.title {
  color:$white;
  font-style: $italic;
  margin: 0 auto 1.5% auto;
  font-size: $f36;
  text-align: center;
} 

.text {
  font-size: $f20;
  color: $white;
  max-width: 561px;
  margin: 0 auto 2% auto;
  text-align: center;
}

.interests__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px,200px);
}

.interest__block{
  @include center;
  background-color: $grey;
  border-radius: 25px;
  font-size: $f20;
  color: $white;
  font-weight: $fw700;
  text-align: center;
}
