.main__projects {
  margin-top: 310px;
}

.projects__items .project__item:not(:first-child) {
  margin-top: 10%;
}

.project__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.project__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../../imgs/img/Rest.jpg);
}

.project__img_reverse {
  order: 1
}

.project__icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3%;
}

.project__headline {
  font-size: $f20;
  color: $grey;
}

.project__head {
  font-size: $f32;
  color: $white;
}

.project__text {
  color: $white;
  font-size: $f16;
  max-width: 445px;
}

.project__button {
  @include button__viewcode;
}


