@include tablet {
  .main__aboutme {
    display: block;
    text-align: center;
  }

  .aboutme__text {
    margin: 0 auto;
}


}




.title, .aboutme__title {
  @include large-tablet {
    font-size: $f32;
    }

  @include mobile {
    font-size: $f28;
  }
}





.text, .aboutme__text {
  @include large-tablet {
    font-size: $f16;
  }
}

.main__aboutme, .main__getintouch, .main_interests, .main__projects {
  @include large-tablet {
    margin-top: 220px;
  }
}

@include desktop {
  .project__img {
  max-width: 588px;
  height: auto;
}
 }


.project__img {
  max-width: 100%;
}

.main__hero {
  @include tablet {
    margin-top: 100px;
  }
}

.main__aboutme {
  @include tablet {
    margin-top: 100px;
  }
}

.aboutme__text {
  @include tablet {
    font-size: $f14;
  }
}

.main__hero {
  @include mobile {
    height: auto;
  }
}

.logo__david {
  @media (min-width:$tablet) {
    display: block;
  }

  @media (max-width:$tablet) {
    display: none;
  }
}

.logo__davkchv {
  @media (min-width:$tablet) {
    display: none;
  }

  @media (max-width:$tablet) {
    display: block;
  }
}

.main_interests,.main__projects {
  @include tablet {
    margin-top: 30px;
  }
}

.main__getintouch {
  @include tablet {
    margin-top: 90px;
    margin-bottom: 150px;
  }
}

.interests__blocks {
  @include tablet {
    grid-auto-rows: 110px;
    grid-template-columns: repeat(2,1fr);
  }
}

.hero__buttons {
  @include tablet {
    flex-flow: column;
  }
}

.hero__getintouch {
  @include tablet {
    margin-top: 10px;
  }
}

.hero__getintouch {
  @include tablet {
    margin-left: 0px;
  }
}


