@include large-desktop {
  .title,
  .aboutme__title {
    font-size: $f32;
  }
}

@include desktop {
  .project__img {
    max-width: 588px;
    height: auto;
  }
}

@include large-tablet {

  .text,
  .aboutme__text {
    font-size: $f16;
  }

  .main__aboutme,
  .main__getintouch,
  .main_interests,
  .main__projects {
    margin-top: 220px;
  }
}

@include tablet {
  .main__aboutme {
    display: block;
    text-align: center;
  }

  .aboutme__text {
    margin: 0 auto;
  }

  .main__hero {
    margin-top: 100px;
  }

  .main_interests,
  .main__projects {
    margin-top: 30px;
  }

  .main__getintouch {
    margin-top: 90px;
    margin-bottom: 150px;
  }

  .interests__blocks {
    grid-auto-rows: 110px;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__buttons {
    flex-flow: column;
  }

  .hero__getintouch {
    margin-top: 10px;
  }

  .hero__getintouch {
    margin-left: 0px;
  }

  .main__aboutme {
    margin-top: 100px;
  }

  .aboutme__text {
    font-size: $f14;
  }

}

@include mobile {
  .title,
  .aboutme__title {
    font-size: $f28;
  }

  .main__hero {
    height: auto;
  }
}

.logo__david {
  @include tablet {
    display: none;
  }

  @media (min-width:$tablet) {
    display: block;
  }
}

.logo__davkchv {
  @media (min-width:$tablet) {
    display: none;
  }

  @include tablet {
    display: block;
  }
}